body{
	background-color: lightgray;	
}

select{
	font-size: 10px;
	width: 100%;
}

h1{
	text-align: center;
}

h2{
	text-align: left;
}

h4{
	text-align: right;
}
contained{
	resize: both;
	display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    padding: 10px;
	text-align: center;
    margin-left:15%; 
    margin-right:15%;
}
span{
	text-align: center;
}

table{
	width:70%; 
    margin-left:15%; 
    margin-right:15%;
}

h3{
	background-color: lightgray;
	outline-color: black;
	outline-style: solid;
	outline-width: thin;	
}

h5{
	text-align: left;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:350px;
    width:20%;
    float:left;
    padding:5px; 
}
#section {
    width:70%;
    float:left;
    padding:10px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}

